body {
  box-sizing: border-box;
  width: 98.9%;
  margin: 0;
  font-family:'Courier New', Courier, monospace, 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.article img{
  object-fit: cover;
  height: 250px;
  border-radius: 10px 10px 0 0;
}
.article {
  border-radius: 10px;
}


.text {
  text-shadow: 2px 2px 2px black;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

@media ( max-width: 600px ){
    .title{
      font-size: 1em;
    }
}
